﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>

<address>
    Marco Baldassarri<br />
    <abbr title="Phone">Tel:</abbr>
    339.8192685
</address>

<address>
    <strong>GitHub: </strong> <a href="https://github.com/mbaldassarri"> https://github.com/mbaldassarri </a> <br />
    <strong>Linkedin: </strong> <a href="https://www.linkedin.com/in/marco-baldassarri-748ab149/"> https://www.linkedin.com/in/marco-baldassarri-748ab149/ </a> <br />
    <strong>Primary:</strong> <a href="mailto:marco.baldassarri89@gmail.com">marco.baldassarri89@gmail.com</a><br />
    <strong>University:</strong> <a href="mailto: marco.baldassarri2@studio.unibo.it">marco.baldassarri2@studio.unibo.it</a><br />
</address>
