@model OnitApp.Models.Cart

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-controller="Carts" asp-action="Create">
    <div class="form-horizontal">
        <h4>Cart</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Code" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ArriveDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ArriveDate" class="form-control" />
                <span asp-validation-for="ArriveDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StockArea" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StockArea" class="form-control" />
                <span asp-validation-for="StockArea" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="LocationArea" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LocationArea" class="form-control" />
                <span asp-validation-for="LocationArea" class="text-danger"></span>
            </div>
        </div>

        <!--<label asp-for="Items" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="Items" class="form-control" asp-items="ViewBag.Items">
                <option value="">-- Select Item --</option>
            </select>
            <span asp-validation-for="ID" class="text-danger" />
        </div> -->
        <label asp-for="Items" class="col-md-2 control-label"></label>
        <div class="col-md-10">
           
           
            <select asp-for="Items" class="form-control" asp-items="ViewBag.Items">
                <option value="">-- Select Items --</option>
            </select>-->
            <span asp-validation-for="Items" class="text-danger" />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
