@model OnitApp.Models.Cart

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArriveDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArriveDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StockArea)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StockArea)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocationArea)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationArea)
        </dd>
        @foreach (var item in Model.Items)
        {
            <dt>
                @Html.DisplayFor(model => item.ID)
            </dt>
            <dd>
                @Html.DisplayFor(model => item.ID)
            </dd>   
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
