@model OnitApp.Models.Cart

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Cart</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />

        <div class="form-group">
            <label asp-for="Code" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ArriveDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ArriveDate" class="form-control" />
                <span asp-validation-for="ArriveDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StockArea" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StockArea" class="form-control" />
                <span asp-validation-for="StockArea" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LocationArea" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LocationArea" class="form-control" />
                <span asp-validation-for="LocationArea" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LocationArea" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <!--<select asp-for="Items" class="form-control" asp-items="@(new SelectList(ViewBag.Items, "ID", "Note"))"> -->
                <select asp-for="Items" class="form-control" asp-items="ViewBag.Items">
                    <option>-- Select Items --</option>
                </select>
            </div>
        </div>
        
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
