@model IEnumerable<OnitApp.Models.Cart>

@{
    ViewData["Title"] = "Cart List";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArriveDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StockArea)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocationArea)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var cart in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelCart => cart.ID)
            </td>
            <td>
                @Html.DisplayFor(modelCart => cart.Code)
            </td>
            <td>
                @Html.DisplayFor(modelCart => cart.ArriveDate)
            </td>
            <td>
                @Html.DisplayFor(modelCart => cart.StockArea)
            </td>
            <td>
                @Html.DisplayFor(modelCart => cart.LocationArea)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@cart.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@cart.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@cart.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
